.wp-block-jsforwphowto-collapse {
  .card-header.btn {
    text-align: left;
  }

  .card {
    padding: 0px;
    max-width: 100%;
  }

  .collapse {
    padding: 1.25rem;
    margin: 0px;
  }

  .collapse div {
    margin: 0px;
  }
}
